name: CI - Pull Request

on:
  pull_request:
    branches:
      - "**"

jobs:
  optimize_ci:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.check_skip.outputs.skip }}
    steps:
      - name: Optimize CI
        id: check_skip
        uses: withgraphite/graphite-ci-action@main
        with:
          graphite_token: ${{ secrets.GRAPHITE_TOKEN }}

  build:
    name: Build
    needs: optimize_ci
    if: needs.optimize_ci.outputs.skip == 'false' && !contains(github.event.pull_request.title, 'WIP')
    timeout-minutes: 15
    runs-on: ubuntu-latest

    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - uses: pnpm/action-setup@v4.1.0
        with:
          version: 10.10.0

      - name: Setup Node.js environment
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm turbo build

  check:
    name: Check
    needs: optimize_ci
    if: needs.optimize_ci.outputs.skip == 'false' && !contains(github.event.pull_request.title, 'WIP')
    timeout-minutes: 15
    runs-on: ubuntu-latest

    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - uses: pnpm/action-setup@v4.1.0
        with:
          version: 10.10.0

      - name: Setup Node.js environment
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Check
        run: pnpm turbo check

  typecheck:
    name: Typecheck
    needs: optimize_ci
    if: needs.optimize_ci.outputs.skip == 'false' && !contains(github.event.pull_request.title, 'WIP')
    timeout-minutes: 15
    runs-on: ubuntu-latest

    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - uses: pnpm/action-setup@v4.1.0
        with:
          version: 10.10.0

      - name: Setup Node.js environment
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Typecheck
        run: pnpm typecheck

  test:
    name: Test
    needs: optimize_ci
    if: needs.optimize_ci.outputs.skip == 'false' && !contains(github.event.pull_request.title, 'WIP')
    timeout-minutes: 15
    runs-on: ubuntu-latest

    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - uses: pnpm/action-setup@v4.1.0
        with:
          version: 10.10.0

      - name: Setup Node.js environment
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Test
        run: pnpm turbo test
